* {
    text-align: center;
}

.header {
    color: white;
    border-color: gray;
    border-style: solid;
    position: center;
}

html {
    background-image: url("../imgs/wallpaper.jpg");
    background-repeat: space;
    background-position: center;
    padding: 30%;
}

p {
    font-family: inherit;
    padding: 8px;
}

a:link {
    color: cyan;
}
a:visited {
    color: blueviolet;
    text-decoration: underline;
}
